body {
    font-family: Arial, sans-serif;
    margin: 2%;
    overflow: hidden;
  }

  #welcome-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Initially invisible */
    animation: fadeIn 2s forwards; /* Animation duration: 2 seconds */
  }
  
  #welcome-text {
    color: #fff;
    text-align: center;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  header, section, footer {
    margin-bottom: 2%;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  form {
    max-width: 80%;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #094b0c;
  }
  