body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 13, 19);
  }

html {
    scroll-behavior: smooth;
  }


.my-title, .contacts, .education, .skills, .contact-form, .experience {
  background-color:rgb(0, 14, 38);
  box-sizing: none;
  color: #ffffff;
}

h1, h2{
    font-family: "Audiowide", sans-serif;
    color: #7ad5ff;
    text-align: center;
  }

h3{
  font-family: "Audiowide", sans-serif;
  color: #7ad5ff;
}

.main-content, .loading-screen {
    transition: opacity 1s ease-in-out;
  }

/* Set initial opacity to 0 for fade-in effect */
.main-content {
    opacity: 0;
  }

.loading-screen[style*="opacity: 0"] {
    display: none;
}  

.loading-screen {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-video {
    width:100%;
    height: 100%;
    object-fit: fill;
    
}

/* .main-content {
    display: none; 
} */
  
  header, section, footer {
    margin-bottom: 2%;
  }
  

  
  form {
    max-width: 80%;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffffff;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }
  
  button {
    background-color: #00afbb;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    width: 100%; 
    margin: auto;}
  
  button:hover {
    background-color: #003b48;
  }
  